@media all and (max-width: 1815px) {
    .tophc {
        display: block;
    }
    
    .bottomhc {
        display: none;
    }

    .header__content {
        flex-direction: column;
        align-self: center;
        margin-top: 65px;
    }

    .header__content_left {
        margin: 10px 0 0 0;
    }

    .header__content_right-logo {
        max-width: 290px;
    }
}

@media all and (max-width: 1754px) {
    .footerline {
        margin-top: 10px;
    }
}
@media all and (max-width: 1560px) {
    .header__content_right-logo {
        max-width: 245px;
    }

    .footer__content_top {
        margin-top: 200px;
    }

    .footer__content_bottom_info {
        padding: 0 40px;
    }
}

@media all and (max-width: 1560px) {
    .header__content_right-logo {
        max-width: 200px;
    }

    .header__content_left-botdescr {
        font-size: 29px;
    }

    .header__content_left_links {
    margin-top: 20px;
    justify-content: center;
    gap: 30px;
    }
}

@media all and (max-width: 1473px) {
    .main__category {
        flex-direction: column;
    }

    .bt {
        display: none;
    }

    .b {
        display: block;
        margin-top: 30px;
    }

    .t {
        margin-left: 0;
    }

    .o {
        margin-right: 0;
    }

    .r {
        margin-left: 0;
        margin-top: 10px;
    }

    .footermedianon {
        margin-top: 33px;
    }

    .tothelast {
        margin-bottom: 0;
    }
}



@media all and (max-width: 1365px) {
    .header__content_right-logo {
        max-width: 180px;
    }

    .header__content_left-botdescr {
        font-size: 26px;
    }

    .header__content_left_link {
    max-width: 223px;
    width: 100%;
    font-size: 19px;
    }

    .header__content {
        margin-top: 50px;
    }

    .footerline {
        display: none;
    }

    .footer__underbottom {
        display: none;
    }

    .footer__content_bottom_info {
        margin-bottom: 20px;
    }
}

@media all and (max-width: 1270px) {
    .header__content_right-logo {
        max-width: 155px;
    }

    .header__content_left-botdescr {
        font-size: 24px;
        max-width: 730px;
        width: 100%;
    }

    .header__content_left_link {
        max-width: 210px;
        font-size: 23px;
    }

    .header__content {
        max-width: 1270px;
        width: 100%;
        margin-top: 35px;
    }

    .footer__content_top {
        margin-top: 140px;
    }

    .footer__content_top-h1 {
        font-size: 55px;
    }

    .footer__content_top-p {
        font-size: 19px;
    }

    .footer__content_top-link {
        font-size: 18px;
    }
}

@media all and (max-width: 1175px) {
    .header__content_right-logo {
        max-width: 140px;
    }

    .header__content_left-botdescr {
        font-size: 20px;
        max-width: 645px;
        line-height: 30px;
    }

    .header__content_left_link {
        max-width: 190px;
        font-size: 20px;
    }

    .footer__content_bottom_info_list {
        display: none;
    }

    .tothelast {
        display: block !important;
    }

    .footermediachngetext {
        display: block;
    }
}

@media all and (max-width: 1020px) {
    .nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .header_elips {
        margin-top: 68px;
    }

    .centerNB {
        max-width: none;
    }


    .footer__content_bottom {
        display: none;
    }

    .group14 {
        display: block;
    }

    .group11 {
        display: none;
    }

    .footer__content {
        justify-content: center;
    }

    .header__content_right-logo {
        max-width: 140px;
    }

    .header__content_left-botdescr {
        font-size: 20px;
        max-width: 645px;
        line-height: 30px;
    }

    .header__content_left_link {
        padding: 0;
    }

    .leftNB {
        padding: 0 20px 0 0;
    }

    .rightNB {
        padding: 0 0 0 20px;
    }

    .main__content_stat_bottomCons {
        flex-direction: column;
        align-items: center;
    }

    .main__content_stat_bottomCon {
        margin-bottom: 10px;
    }

    .footer__content_top-h1 {
        font-size: 40px;
    }

    .footer__content_top-p {
        width: 650px;
    }

    .footer__content_top-link {
        font-size: 15px;
        margin-top: 10px;
    }

    .footer__content_bottom_info-avatar {
        max-width: 130px;
    }

    .tothelast-h1 {
        font-size: 40px;
        text-align: center;
    }

    .nav__bar_link {
        max-width: 220px;
        width: 100%;
        text-align: center;
    }

    .leftNB {
        padding: 0;
    }

    .rightNB {
        padding: 0;
    }
}

@media all and (max-width: 930px) {
    .nav {
        justify-content: space-evenly;
    }

    .footer__content_top {
        margin-top: 110px;
    }

    .tothelast-h1 {
        font-size: 37px;
    }

    .tothelast_partners-img {
        max-width: 54px;
    }

    .tothelast_partners {
        justify-content: space-evenly;
    }

    .nav__bar-logo-w {
        margin: 0;
    }

    .header_elips {
        margin-top: 214px;
    }

    .centerNB {
        width: 100%;
        max-width: none;
    }

    .leftNB {
        padding: 0;
    }

    .rightNB {
        padding: 0;
    }

    .nav__bar-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    

    .nav__bar_links {
        width: 100%;
        max-width: none;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .nav__bar_link {
        max-width: 220px;
        width: 100%;
        text-align: center;
    }

    .header__content_right-logo {
        max-width: 125px;
    }

    .header__content_left-botdescr {
        font-size: 17px;
        max-width: 556px;
        line-height: 27px;
    }

    .header__content_left_link {
        max-width: 175px;
        font-size: 18px;
        line-height: 30px;
    }

    .footermediachngetext {
        display: none;
    }

    .footermediachngetexts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__content_bottom_info {
        margin-bottom: 6px;
    }
}

@media all and (max-width: 800px) {
    .header__content_right-logo {
        max-width: 95px;
    }

    .header__content_left-botdescr {
        font-size: 15px;
        max-width: 475px;
        line-height: 25px;
    }

    .header__content_left_link {
        max-width: 150px;
        font-size: 16px;
        line-height: 24px;
    }

    .nav__bar_link {
        font-size: 22px;
        line-height: 33px;
    }

    .nav__discord-icon {
        max-width: 22px;
    }

    .nav__bar-login {
        font-size: 22px;
        line-height: 40px;
    }

    .header_elips {
        margin-top: 193px;
    }

    .footer__content_top {
        margin-top: 0;
    }

    .footer__content_top-h1 {
        font-size: 30px;
    }

    .footer__content_top-p {
        width: 445px;
        font-size: 15px;
        line-height: 20px;
    }

    .footer__content_top-link {
        padding-top: 12px;
    }
}


@media all and (max-width: 695px) {
    .header__content_right-logo {
        display: none;
    }

    .header__content_left-hiddentext {
        display: block;
    }
}

@media all and (max-width: 679px) {
    .nav__bar_links {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .nav__bar_link {
        font-size: 19px;
        line-height: 29px;
    }
    

    .header_elips {
        margin-top: 247px;
    }

    .nav__bar-logo-w {
        box-shadow: 0 0px 2px rgb(255 255 255 / 17%);
        border-radius: 50%;
    }
}

@media all and (max-width: 631px) {
    .main__category_catTitle {
        font-size: 25px;
        line-height: 35px;
    }

    .main__category_catDescr {
    font-size: 19px;
    line-height: 26px;
    }

    .r {
        margin-top: 30px;
    }

    .t {
        margin-top: 10px;
    }
}

@media all and (max-width: 595px) {
    .header__content {
        margin-top: 10px;
    }
}

@media all and (max-width: 555px) {
    .header__content {
        margin-top: 10px;
    }

    .main__categories-title {
        font-size: 48px;
    }

    .header__content_left-botdescr {
        font-size: 16px;
        max-width: 360px;
        line-height: 22px;
    }

    .header__content_left-hiddentext {
        font-size: 27px;
        margin-bottom: 5px;
    }

    .header__content_left_link {
        max-width: 129px;
        font-size: 16px;
        line-height: 20px;
    }

    .header__content_left_links {
        margin-top: 15px;
    }

}


@media all and (max-width: 472px) {
    .header__content_left-hiddentext {
        font-size: 22px;
        margin-bottom: 2px;
    }
    .header__content_left-botdescr {
        font-size: 13px;
        max-width: 349px;
        line-height: 19px;
    }

    .header__content_left_link {
        max-width: 120px;
        font-size: 14px;
        line-height: 15px;
    }

    .main__categories-title {
    font-size: 35px;
    margin: auto;
    text-align: center;
    white-space: nowrap;
    }

    .main__content_stat-title {
        font-size: 35px;
    }
}

@media all and (max-width: 420px) {
    .nav__bar_link {
        font-size: 17px;
        line-height: 25px;
    }

    .nav__bar-login {
        font-size: 20px;
        line-height: 36px;
    }

    .header_elips {
        margin-top: 100px;
    }

    .header__content {
        margin-top: auto;
    }

    .header__content_left-hiddentext {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .header__content_left-botdescr {
    text-align: center;
    font-size: 15px;
    max-width: 315px;
    line-height: 16px;
    max-width: 330px;
    margin-bottom: 15px;
    }

    .header__content_left_links {
        align-items: center;
        margin-top: 5px;
    }

    .header__content_left_link:last-child {
        padding: 0;
        margin-top: 5px;
    }

    .header__content_left_link {
        line-height: 30px;
    }
}

@media all and (max-width: 740px) {
.nav__bar-logo {
    font-family: 'Rubik';
    font-size: 20px;
    /* line-height: 52px; */
    background-image: linear-gradient(60deg, #f671fff2, #41a7ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center;
    font-weight: 800;
    text-align: center;
    margin: auto
}
}

@media all and (max-width: 740px) {
.main__content_stat-title {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 15px;
    font-family: 'Rubik-Bold';
    color: #FFFFFF;
}
}

@media all and (max-width: 740px) {
.main__content_stat_bottomCon-title {
    font-size: 30px;
    line-height: 30px;
    font-family: 'Rubik-SemiBold';
    color: #FFFFFF;
}
}

@media all and (max-width: 740px) {
.titletos {
    font-size: 25px;
    font-weight: 700;
    color: #f2f2f2;
    font-family: 'Rubik';
    white-space: nowrap;
    margin-left: 5px;
}
}

@media all and (max-width: 740px) {
.changes {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Rubik';
    color: #c4c4c4;
    margin-bottom: 30px;
    margin-left: 5px;
}
}

@media all and (max-width: 740px) {
.subtositle {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #e1e1e1;
    font-family: 'Rubik';
    margin-bottom: 5px;
    margin-left: 5px;
}
}

@media all and (max-width: 740px) {
.texttos {
    font-size: 14px;
    font-weight: 400;
    max-width: 710px;
    font-family: 'Rubik';
    color: #e1e1e1;
    margin-bottom: 5px;
    margin-left: 5px;
}
}

@media all and (max-width: 740px) {
.footer {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 87.74px;
    background-color: #0a0a0a00;
}
}


@media all and (max-width: 740px) {
.titledonate {
    font-size: 25px;
    font-weight: 700;
    color: #f2f2f2;
    font-family: 'Rubik';
    margin-left: 5px;
    white-space: nowrap;
}

  .subdonate {
    max-width: 550px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Rubik';
    color: #c4c4c4;
    margin-bottom: 30px;
    margin-left: 5px;
}

  .supporttext {
    font-size: 25px;
    font-weight: 700;
    color: #ededed;
    font-family: 'Rubik';
    margin-bottom: 5px;
    margin-left: 5px;
}

  .subdonatetext {
    max-width: 550px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Rubik';
    color: #ededed;
    margin-bottom: 5px;
    line-height: 24px;
    margin-left: 5px;
}
}